src/pages/new-detail.pug
extends _layouts/layout
block content
  .menu-page.new-detail-page
    .menu-page--wrapper
      .container
        .row
          .col-sm-3.menu-page__left.active
            .col-wrap
              nav.content-left.about-page
                ul.list-submenu
                  li
                    h2
                      a(href="#") Dụng cụ vệ sinh 
                  li
                    h2
                      a(href="#") Máy chà sàn 
                  li
                    h2
                      a(href="#") Máy hút bụi
                  li
                    h2
                      a(href="#") Máy giặt thảm, ghế
                  li
                    h2
                      a(href="#") Xe lau nhà
                  li
                    h2
                      a(href="#") Máy vệ sinh công nghiệp khác
                  li
                    h2
                      a(href="#") Hóa chất vệ sinh công nghiệp
          .col-sm-9
            .col-wrap
              .content-right.about-page
                .nav-title
                  a(href="#") Trang chủ
                  |&rsaquo;
                  a(href="#") Tin tức
                .clear-fix
              .new-detail__title
                p Đánh bóng sàn đá uy tín và chuyên nghiệp
              .widget-news
                p CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE ĐƯỢC BIẾT ĐẾN
                  | KHÔNG CHỈ LÀ ĐƠN VỊ HÀNG ĐẦU TRONG CUNG CẤP CÁC DỊCH VỤ VỆ SINH
                  | CÔNG NGHIỆP MÀ CÒN CUNG CẤP CÁC MÁY MÓC, DỤNG CỤ VÀ THIẾT BỊ
                  | LÀM SẠCH. KHÔNG GIỐNG VỚI CÁC ĐƠN VỊ KHÁC THƯỜNG CHỌN NHẬP KHẨU
                  | CÁC MÁY MÓC TỪ THƯƠNG HIỆU Ở NƯỚC KHÁC MÀ CHÚNG TÔI TRỰC TIẾP SẢN
                  | XUẤT VÀ PHÂN PHỐI VỚI THƯƠNG HIỆU RIÊNG CỦA MÌNH. 
                p VÌ SAO NÊN CHỌN CÁC SẢN PHẨM CỦA CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE?
                p - SẢN PHẨM CHÍNH HÃNG MANG THƯƠNG HIỆU CLEAN HOUSE, CÓ CHẾ ĐỘ ĐỔI TRẢ VÀ SỬA CHỮA SẢN PHẨM. 
                p - NHÀ MÁY SẢN XUẤT ĐÃ ĐƯỢC ĐĂNG KIỂM CHẤT LƯỢNG 
                p -GIÁ THÀNH CẠNH TRANH TRÊN THỊ TRƯỜNG 
                p - CHẾ ĐỘ BẢO HÀNH CHU ĐÁO VÀ SỰ PHỤC VỤ TẬN TÌNH NHÂN VIÊN
                p - BÁN HÀNG RẺ NHẤT, SẢN PHẨM TỐT NHẤT VÀ BẢO TRÌ MIỄN PHÍ.
                p - NHIỀU CHƯƠNG TRÌNH MIỄN PHÍ.
                p - SẢN PHẨM CÓ THIẾT KẾ HIỆN ĐẠI, CHUYÊN NGHIỆP, NHIỀU TÍNH NĂNG ƯU VIỆT, DDOJ BỀN CAO.
                p LUÔN LẮNG NGHE VÀ TIẾP THU Ý KIẾN ĐÓNG GÓP CỦA KHÁCH HÀNG ĐỂ NÂNG CAO CHẤT LƯỢNG DỊCH VỤ LÀM HÀI LÒNG KHÁCH HÀNG.
                p CLEAN HOUSE TIẾP TỤC TUYỂN CÁC ĐẠI LÝ BÁN BUÔN BÁN LẺ CÁC DÒNG MÁY THƯƠNG HIỆU CLEAN HOUSE TRÊN TOÀN QUỐC. THÔNG TIN CHI TIẾT BẠN XEM TẠI ĐÂY. 
                p CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE
                p ĐỊA CHỈ: 136 HỒ TÙNG MẬU, CẦU GIẤY, HÀ NỘI
                p ĐIỆN THOẠI: 042.347.4474 - HOTLINE: 093.229.7300
                p EMAIL: INFO@MAYDUNGCUVESINHCONGNGHIEP.VN
                p WEBSITE: HTTP://MAYDUNGCUVESINHCONGNGHIEP.VN/
          .clear-fix
  //#content

dist/new-detail.html

<!-- Mixins--><!DOCTYPE html>
<html lang="en">
  <head>
    <title>Themes</title>
    <meta charset="utf-8"/>
    <meta name="description" content="The description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no"/>
    <meta name="keywords" content="coding, html, css"/>
    <meta name="author" content="someone"/>
    <!-- Styles-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:700&amp;subset=vietnamese" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <div class="container">
          <div class="logo fleft"><a href="index.html"><img src="images/logoDCVS.png" alt="logo"/></a></div>
          <div class="header-banner fleft">
            <h1 class="name"><a href="index.html">HDD Việt Nam</a></h1>
          </div>
          <div class="toolbar fright">
            <div class="cart-menu fright">
              <div class="card-menu__inner"><a href="gio-hang.html"><span class="icon"><img src="images/icon_cart.png" alt="icon"/></span><span class="card text-right">Giỏ hàng</span></a></div>
              <div class="proinshop"><span class="number">0</span></div>
            </div>
            <div class="clearfix"></div>
            <div class="hotline"><span class="title-hotline">HOTLINE: </span><span class="number-phone">0918 768 102</span></div>
            <div class="search">
              <div class="search__inner">
                <form action="">
                  <input type="search" placeholder="Nhập từ khó cần tìm ..."/>
                  <div class="button-search"><a href="#"><img src="images/icon_search.png" alt="icon-search"/></a></div>
                </form>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </header>
      <nav id="navigate-main">
        <div class="container">
          <div class="navigate">
            <div class="menu-main">
              <div class="menu">
                <ul class="menu-c1 list-inline">
                  <li class="Industrial-hygiene-chemicals"><a href="hoa-chat-ve-sinh-cong-nghiep.html">Hóa chất vệ sinh công nghiệp</a>
                    <div class="menu-c2 list-product">
                      <ul class="sub list-inline">
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">hóa chất vệ sinh gift</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">hóa chất klenco</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">hóa chất goodmaid</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">hóa chất vệ sinh suzy</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="cleaning-stuff margin-left-none"><a href="dung-cu-ve-sinh.html">Dụng cụ vệ sinh</a>
                    <div class="menu-c2 list-product">
                      <ul class="sub list-inline">
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">dụng cụ lau kính</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">dụng cụ lau sàn</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">dụng cụ vệ sinh khác</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="floor-scrubber"><a href="may-cha-san.html">Máy chà sàn</a>
                    <div class="menu-c2 list-product">
                      <ul class="sub list-inline">
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">máy chà sàn cầm tay</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">máy chà sàn liên hợp</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">phụ kiện máy chà sàn</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="vacuum-cleaner"><a href="may-hut-bui.html">Máy hút bụi</a>
                    <div class="menu-c2 list-product">
                      <ul class="sub list-inline">
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">máy hút bụi công nghiệp</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">máy hút bụi gia đình</span></a></li>
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">phụ kiện máy hút bụi</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="Carper-cleaning-machine"><a href="may-giat-tham-ghe.html">Máy giặt thảm, ghế</a></li>
                  <li class="car-wipe-the-house"><a href="xe-lau-nha.html">Xe lau nhà</a></li>
                  <li class="Other-industrial-cleaning-machines"><a href="may-ve-sinh-cong-nghiep-khac.html">Máy vệ sinh công nghiệp khác</a>
                    <div class="menu-c2 list-product">
                      <ul class="sub list-inline">
                        <li class="product"><a href="#"><span class="img-product"><img src="images/product.jpg" alt="product"/></span><span class="name-product">máy vệ sinh thang cuốn</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="margin-right-none"><a href="contact.html">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <nav class="menu-mobie">
        <div class="bar-mobie"><i class="fas fa-bars"></i></div>
        <ul class="menu-1">
          <li><a href="#"><span>Hóa chất vệ sinh công nghiệp</span><span class="icon-menu"> <i class="fas fa-chevron-right"></i></span></a>
            <ul class="menu-2">
              <li><a href="#">Dụng cụ lau kính</a></li>
              <li><a href="#">Dụng cụ lau sàn</a></li>
              <li><a href="#">Dụng cụ vệ sinh khác</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Dụng cụ vệ sinh</span><span class="icon-menu"> <i class="fas fa-chevron-right"></i></span></a>
            <ul class="menu-2">
              <li><a href="#">Dụng cụ lau kính</a></li>
              <li><a href="#">Dụng cụ lau sàn</a></li>
              <li><a href="#">Dụng cụ vệ sinh khác</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Máy chà sàn</span><span class="icon-menu"> <i class="fas fa-chevron-right"></i></span></a>
            <ul class="menu-2">
              <li><a href="#">Dụng cụ lau kính</a></li>
              <li><a href="#">Dụng cụ lau sàn</a></li>
              <li><a href="#">Dụng cụ vệ sinh khác</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Máy hút bụi</span><span class="icon-menu"><i class="fas fa-chevron-right"></i></span></a>
            <ul class="menu-2">
              <li><a href="#">Dụng cụ lau kính</a></li>
              <li><a href="#">Dụng cụ lau sàn</a></li>
              <li><a href="#">Dụng cụ vệ sinh khác</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Máy giặt thảm , ghế</span><span class="icon-menu"><i class="fas fa-chevron-right"></i></span></a>
            <ul class="menu-2">
              <li><a href="#">Dụng cụ lau kính</a></li>
              <li><a href="#">Dụng cụ lau sàn</a></li>
              <li><a href="#">Dụng cụ vệ sinh khác</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Liên hệ</span></a></li>
          <li><a href="#"><span>Giỏ hàng</span></a></li>
        </ul>
      </nav>
      <div class="menu-page new-detail-page">
        <div class="menu-page--wrapper">
          <div class="container">
            <div class="row">
              <div class="col-sm-3 menu-page__left active">
                <div class="col-wrap">
                  <nav class="content-left about-page">
                    <ul class="list-submenu">
                      <li>
                        <h2><a href="#">Dụng cụ vệ sinh </a></h2>
                      </li>
                      <li>
                        <h2><a href="#">Máy chà sàn </a></h2>
                      </li>
                      <li>
                        <h2><a href="#">Máy hút bụi</a></h2>
                      </li>
                      <li>
                        <h2><a href="#">Máy giặt thảm, ghế</a></h2>
                      </li>
                      <li>
                        <h2><a href="#">Xe lau nhà</a></h2>
                      </li>
                      <li>
                        <h2><a href="#">Máy vệ sinh công nghiệp khác</a></h2>
                      </li>
                      <li>
                        <h2><a href="#">Hóa chất vệ sinh công nghiệp</a></h2>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="col-wrap">
                  <div class="content-right about-page">
                    <div class="nav-title"><a href="#">Trang chủ</a>&rsaquo;<a href="#">Tin tức</a></div>
                    <div class="clear-fix"></div>
                  </div>
                  <div class="new-detail__title">
                    <p>Đánh bóng sàn đá uy tín và chuyên nghiệp</p>
                  </div>
                  <div class="widget-news">
                    <p>
                      CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE ĐƯỢC BIẾT ĐẾNKHÔNG CHỈ LÀ ĐƠN VỊ HÀNG ĐẦU TRONG CUNG CẤP CÁC DỊCH VỤ VỆ SINH
                      CÔNG NGHIỆP MÀ CÒN CUNG CẤP CÁC MÁY MÓC, DỤNG CỤ VÀ THIẾT BỊ
                      LÀM SẠCH. KHÔNG GIỐNG VỚI CÁC ĐƠN VỊ KHÁC THƯỜNG CHỌN NHẬP KHẨU
                      CÁC MÁY MÓC TỪ THƯƠNG HIỆU Ở NƯỚC KHÁC MÀ CHÚNG TÔI TRỰC TIẾP SẢN
                      XUẤT VÀ PHÂN PHỐI VỚI THƯƠNG HIỆU RIÊNG CỦA MÌNH. 
                    </p>
                    <p>VÌ SAO NÊN CHỌN CÁC SẢN PHẨM CỦA CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE?</p>
                    <p>- SẢN PHẨM CHÍNH HÃNG MANG THƯƠNG HIỆU CLEAN HOUSE, CÓ CHẾ ĐỘ ĐỔI TRẢ VÀ SỬA CHỮA SẢN PHẨM. </p>
                    <p>- NHÀ MÁY SẢN XUẤT ĐÃ ĐƯỢC ĐĂNG KIỂM CHẤT LƯỢNG </p>
                    <p>-GIÁ THÀNH CẠNH TRANH TRÊN THỊ TRƯỜNG </p>
                    <p>- CHẾ ĐỘ BẢO HÀNH CHU ĐÁO VÀ SỰ PHỤC VỤ TẬN TÌNH NHÂN VIÊN</p>
                    <p>- BÁN HÀNG RẺ NHẤT, SẢN PHẨM TỐT NHẤT VÀ BẢO TRÌ MIỄN PHÍ.</p>
                    <p>- NHIỀU CHƯƠNG TRÌNH MIỄN PHÍ.</p>
                    <p>- SẢN PHẨM CÓ THIẾT KẾ HIỆN ĐẠI, CHUYÊN NGHIỆP, NHIỀU TÍNH NĂNG ƯU VIỆT, DDOJ BỀN CAO.</p>
                    <p>LUÔN LẮNG NGHE VÀ TIẾP THU Ý KIẾN ĐÓNG GÓP CỦA KHÁCH HÀNG ĐỂ NÂNG CAO CHẤT LƯỢNG DỊCH VỤ LÀM HÀI LÒNG KHÁCH HÀNG.</p>
                    <p>CLEAN HOUSE TIẾP TỤC TUYỂN CÁC ĐẠI LÝ BÁN BUÔN BÁN LẺ CÁC DÒNG MÁY THƯƠNG HIỆU CLEAN HOUSE TRÊN TOÀN QUỐC. THÔNG TIN CHI TIẾT BẠN XEM TẠI ĐÂY. </p>
                    <p>CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE</p>
                    <p>ĐỊA CHỈ: 136 HỒ TÙNG MẬU, CẦU GIẤY, HÀ NỘI</p>
                    <p>ĐIỆN THOẠI: 042.347.4474 - HOTLINE: 093.229.7300</p>
                    <p>EMAIL: INFO@MAYDUNGCUVESINHCONGNGHIEP.VN</p>
                    <p>WEBSITE: HTTP://MAYDUNGCUVESINHCONGNGHIEP.VN/</p>
                  </div>
                </div>
              </div>
              <div class="clear-fix"></div>
            </div>
          </div>
        </div>
      </div>
      <!--#content-->
      <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row-footer-top">
              <div class="col-20">
                <div class="col-inner">
                  <div class="widget menu-bottom">
                    <h3 class="title-widget">Về chúng tôi</h3>
                    <ul class="list-widget">
                      <li><a href="about.html">Giới thiệu</a></li>
                      <li><a href="contact.html">Liên hệ với chúng tôi</a></li>
                      <li><a href="#">Tuyển dụng</a></li>
                      <li><a href="news.html">Tin tức</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-30">
                <div class="col-inner">
                  <div class="widget menu-bottom">
                    <h3 class="title-widget"><a href="#">CHÍNH SÁCH BÁN HÀNG VÀ QUY ĐỊNH</a></h3>
                    <ul class="list-widget">
                      <li><a href="#">Chính sách và quy định chung</a></li>
                      <li><a href="#">Chính sách Đổi - Trả hàng hóa</a></li>
                      <li><a href="#">Chính sách bán hàng và chất lượng hàng</a></li>
                      <li><a href="#">Chính sách bảo mật thông tin</a></li>
                      <li><a href="#">Chính sách vận chuyển, giao nhận hàng</a></li>
                      <li><a href="#">Chính sách Bảo hành sản phẩm</a></li>
                      <li><a href="#">Danh sách khu vực miễn phí dịch vụ</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="col-inner">
                  <div class="widget menu-bottom">
                    <h3 class="title-widget"><a href="#">Kiến thức</a></h3>
                    <ul class="list-widget">
                      <li><a href="#">Thương hiệu</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="col-inner">
                  <div class="nav-cat-title small stand">Facebook</div>
                  <div class="box-fanpage"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="info-company"><strong class="name-company">Công Ty TNHH Sản Xuất và Thương Mại HDD Việt Nam</strong>
              <div class="footer-content-left"> 
                <p>Địa chỉ: sô 17, Ngõ 463/7 phố Đội Cấn , Phường Vĩnh Phúc, Quận Ba Đình, Thành phố Hà Nội, Việt Nam.</p>
                <p>Điện thoại: 01223455666 - Hotline: 0980.705.705</p>
                <p>Email:<span class="email"><a href="#"> info@maydungcuvesinhcongnghiep.vn</a></span><span>&nbsp;- Website: </span><span class="website"><a href="#"> http://chv.vn/</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--#footer-->
      <div id="mark"></div>
    </div>
    <!--#wrapper-->
    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="js/core.js"></script>
  </body>
</html>
